#timer{
    font-size: 9rem;
}

.centerDiv{
    display: flex;
    justify-content: center;
}

button{
    height: 3rem;
    width: 9rem;
}

.close{
    width: auto !important;
}

.container{
    
    background-color: '#808080';
    
}

.stopTimer{
    background-color: #C60F13;
    color: white;

}

.resetTimer{
    background-color: rgb(141, 141, 141);
    color: white;
}