<div mdbModal #logModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="logModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Pomodoro Log</h4>
      </div>
      <div class="modal-body">
        <table mdbTable striped="true">
          <thead>
            <tr>
              <th *ngFor="let head of headElements" scope="col">{{head}} </th>
            </tr>
          </thead>
          <tbody>
            <tr mdbTableCol *ngFor="let el of this.logElements; let i = index;">
              <th scope="row">{{i + 1}}</th>
              <td>{{el.startTime}}</td>
              <td>{{el.endTime}}</td>
              
            </tr>
          </tbody>
        </table>
        
      </div>
      <div class="modal-footer">
          <button type="button" mdbBtn color="deep-orange" size="sm" class="waves-light" aria-label="Close" (click)="this.clearEntries()" mdbWavesEffect>Clear Entries</button>
        <button type="button" mdbBtn color="secondary" size="sm" class="waves-light" aria-label="Close" (click)="logModal.hide()" mdbWavesEffect>Close</button>
        
      </div>
    </div>
  </div>
</div>
